services:
  database:
    container_name: postgres
    image: postgres:17
    ports:
      - "5432:5432"

    environment:
      POSTGRES_USER: web4
      POSTGRES_PASSWORD: password
      POSTGRES_DB: web4

    networks:
      - storage
    volumes:
      - ./docker-data/pg:/var/lib/postgresql/data

  liquibase:
    container_name: liquibase
    build:
      context: .
      dockerfile: migrations/Dockerfile

    depends_on:
      - database

    environment:
      LIQUIBASE_URL: "jdbc:postgresql://database:5432/web4"
      LIQUIBASE_USERNAME: web4
      LIQUIBASE_PASSWORD: password

    networks:
      - storage

networks:
  storage: